* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  width: 100%;
  height: 400px;
  background-image: url(img1/mv.jpg);
  background-size: cover;
  background-position: bottom;

}
.header-text  {
  text-align: left;
  padding: 20px;
  color: grey;
}
.main {
  margin: 20px 50px;
  display: inline-block;
  width: 840px;
  margin: 0 170px;
}

.box1 {
  display: inline-block;
  width: 840px;
  text-align: left;
  color: grey;
  padding: 30px;
  border-bottom: solid 1px rgb(184, 178, 178);
  
}
.box2 {
  display: inline-block;
  width: 840px;
  text-align: left;
  color: grey;
  padding: 30px;
  border-bottom: solid 1px rgb(184, 178, 178);
}
.box3 {
  display: inline-block;
  width: 840px;
  text-align: left;
  color: grey;
  padding: 30px;
  border-bottom: solid 1px rgb(184, 178, 178);
}
.box4 {
  display: inline-block;
  width: 840px;
  text-align: left;
  color: grey;
  padding: 30px;
  border-bottom: solid 1px rgb(184, 178, 178);
}